.idea
.DS_Store
*/.DS_Store
*/*/.DS_Store
cmake-build-debug
*/cmake-build-debug
*/*/cmake-build-debug
__pycache__
*/__pycache__
*/*/__pycache__
*/tex/_markdown_tex
*/tex/_minted-tex
*/tex/*.aux
*/tex/images/.DS_Store
*/tex/tex.fdb_latexmk
*/tex/tex.fls
*/tex/tex.log
*/tex/tex.markdown.in
*/tex/tex.markdown.lua
*/tex/tex.out
*/tex/tex.toc
*/tex/tex.synctex.gz
*/for_gif
*/*/for_gif
